In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import re

In [12]:
driver = webdriver.Chrome(r"C:/chromedriver_win32/chromedriver.exe")
driver.get('https://understat.com/team/Manchester_United/2018')


"""-----------------------------"""
baseTable = driver.find_element_by_id('team-players')
tableRows = baseTable.find_elements_by_tag_name('tr')
data = []
for item in range(1,len(tableRows)):
    row = tableRows[item].find_elements_by_tag_name('td')
    name = row[1].text
    pos = row[2].text
    apps = row[3].text
    Min = row[4].text
    goals = row[5].text
    assists = row[6].text
    sh90 = row[7].text
    kp90 = row[8].text
    xg = row[9].text
    xa = row[10].text
    xg90 = row[11].text
    xa90 = row[12].text
    data.append([name,pos,apps,Min,goals,assists,sh90,kp90,xg,xa,xg90,xa90])

df = pd.DataFrame(data,columns=["Name", "Position", "Apps", "Min", "Goals_Scored"
            , "Assists", "Sh90", "KP90", "xG", "xA"
            , "xG90", "xA90"])    
"""------------------------------"""

'------------------------------'

In [17]:
df.head()

,Name,Position,Apps,Min,Goals_Scored,Assists,Sh90,KP90,xG,xA,xG90,xA90
0,Romelu Lukaku,F,26,1678,12,0,2.47,0.91,10.01-1.99,1.68+1.68,0.54,0.09
1,Paul Pogba,M,26,2203,11,9,3.47,1.59,13.28+2.28,4.04-4.96,0.54,0.16
2,Anthony Martial,F M,20,1293,9,2,2.09,2.09,5.49-3.51,2.99+0.99,0.38,0.21
3,Marcus Rashford,F M,25,1730,9,6,3.17,1.25,9.09+0.09,3.29-2.71,0.47,0.17
4,Jesse Lingard,F M,22,1297,4,2,1.73,0.90,4.06+0.06,2.27+0.27,0.28,0.16