In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import numpy as np 
import glob 
import warnings 
from scipy.stats import norm
from IPython.display import display, HTML
import scipy
warnings.filterwarnings("ignore")
%matplotlib inline
import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format
sns.set()

In [2]:
players = pd.read_csv('Players_stats.csv',index_col =0)

In [3]:
def getCleandata(df):
    numeric_columns = df.columns[3:]    
    df['xG'] = df['xG'].apply(lambda x: x[:x.find('+')] if x.find('+') > 0 else x[:x.find('-')])
    df['xA'] = df['xA'].apply(lambda x: x[:x.find('+')] if x.find('+') > 0 else x[:x.find('-')])
    df['Position'] = df['Position'].apply(lambda x: x.replace(' ',''))
    for column in numeric_columns:
        df[column] = pd.to_numeric(df[column])
    return df

In [4]:
df_clean = getCleandata(players)

df_clean.head()

,Team,Name,Position,Apps,Min,Goals_Scored,Assists,Sh90,KP90,xG,xA,xG90,xA90
0,Manchester City,Sergio Agüero,F,26.00,1960,18,6,4.36,1.15,17.52,3.78,0.80,0.17
1,Manchester City,Raheem Sterling,FM,27.00,2159,15,9,2.38,2.29,12.54,9.91,0.52,0.41
2,Manchester City,Leroy Sané,F,25.00,1530,8,9,2.59,2.00,6.28,6.91,0.37,0.41
3,Manchester City,David Silva,M,26.00,1916,6,6,2.16,2.77,7.86,8.36,0.37,0.39
4,Manchester City,Riyad Mahrez,FM,24.00,1152,6,3,3.52,1.56,6.24,4.27,0.49,0.33